@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap');

.favteam{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.favorites > h1{
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.arrow-fav{
    color: black
}

.favorites{
    background-color: grey;
    height: 100vh;
}
