.home{
    height: 100vh;
    /* background-color: #BCD4DE; */
    background-image: url("./images/homeback.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-top > img{
    margin-right: 5px;
    margin-top: 5px;
}

.menu-icon {
    margin-left: 5px;
}

Link{
    text-decoration: none;
}

.link1{
    color: white;
    text-decoration: none;
}
.link2{
    color: white;
    text-decoration: none;
}