@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap');


.arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3vw;
    padding-top: 3vw;
    justify-content: space-between;
    color: aliceblue;
}

.player{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
     /* flex-wrap: wrap;  */
     /* float: left; */
     color: white;
}


.player > img{
    width: 30vw;
    border: 3px solid white;
    border-radius: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    /* float: left; */

    /* border-radius: 5vw; */
}

/* h3{
    color: white;
    font-size: 2vw;
    text-decoration: none;
    font-size: 5vw;
} */

.all-players > h1{
    text-align: center;
    color: white;
    font-size:15vw;
    font-family: "helvetica"
}

.all-players{
    background-color:#C1CAD6;;
    flex-wrap: wrap;
}

.link{
    text-decoration: none;
    /* flex-wrap: wrap; */
}

.arrow > img{
    margin-right: 15px;
}

/* .player-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* float: left; */
    /* width: 33.33%; */
    /* padding: 9vw; */
    /* justify-content: space-evenly; */
    /* margin-bottom: 10px; */
    /* background-color:#B7D1DA;; */

    .player-det{
        margin-left: 15px;
    }

    .position{
        color: #19647E
    }

    .player >img{
        margin-left: 15px;
    }

    /* .line1{
        margin-right: 40px;
        margin-left: 40px;
    } */

    .all-players >h1{
    font-family: 'Exo 2', sans-serif;
    color: #19647E
    }



    @media(min-width: 1000px){
        .player > img{
            width: 20vw;
            /* flex-direction: row; */
            display: flex;
            justify-content: center;

        
            /* border-radius: 5vw; */
        }
        .all-players  {
            display: flex;
            flex-direction: column;
       
        }
        .player{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        .all-players >h1{
            font-size: 140px;
            margin-top: -10px;
   
        }
    }