.Signup{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.signup-main{
    background-color: #3A606E;
    height: 100vh;
}

.button2{
    margin-top: 8vw;
}

@media(min-width:1000px){
    .button2{
        margin-top: 20px
    }
    .signup-main >h4{
        text-align: center;
    }
}
