.arrow-team{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5vw;
    margin-top: 5vw;
}
.team-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 8vw;
}

.button{
    display: flex;
    flex-direction: column;
}

.players-link{
    text-decoration: none;
}
