@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&display=swap');
.teams > h1{
    text-align: center ;
    font-family: 'Exo 2', sans-serif;
}

.teams1 {
    background-color: #C1CAD6
}

h5{
    text-decoration: none;
}

.table1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid black;
    border-radius:20px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .pictures {
    display: flex;
    justify-content: space-between;
} */

/* .table22{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

td{
    text-align: center;
}

.team-flag{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.team-flag > p{
    text-decoration: none;
}

.link-teams{
    text-decoration:none;
    color: black;
}

@media(min-width:1000px){
    .table1{
        margin-left: 50px;
        margin-right: 50px;
    }
    .logo-lap{
        width: 80px;
        margin-right: 20px;
    }
    .teams1{
        padding-bottom: 50px;
    }
}